<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>auth project</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-default navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="">Reddy exams</a>
        </div>
        <ul class="nav navbar-nav">
            <li> <a class="" href="/java">java exam</a></li>
            <li><a class="" href="/py">python exam</a></li>
            <li><a class="" href="/ap">aptitude exam</a></li>

    </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="" href="/signup">sign up</a></li>
            <li><a class="" href="/accounts/login">login in</a></li>
            <li><a class="" href="/accounts/logout">log out</a></li>

    </ul>

    </div>
</nav>

{% block chinna %}
{% endblock %}
</body>
</html>