<!doctype html>
{% extends 'test/base.html' %}
{% block chinna %}


     <div class="jumbotron">
     <div class="container">
        <h1>Welcome to reddy exam ported</h1>
        <h2>Roles:</h2>
        <ul>
            <li>role1:Write only one exam per day</li>
             <li>role1:Write only one exam per day</li>
             <li>role1:Write only one exam per day</li>
             <li>role1:Write only one exam per day</li>
             <li>role1:Write only one exam per day</li>
        </ul>
    </div></div>
{%endblock%}